{% extends 'review/home.html' %}
{% load i18n %}
{% load review_extras %}

{% block inner %}
<h1>{% trans "Manage event info" %}</h1>
<hr class="my-3" />

<nav>
  <ul class="nav nav-tabs nav-fill mb-3">
	<li class="nav-item justify-content-between">
		<a href="{% url 'manage_info' event.pk %}" class="nav-link {{ tab|is_active_tab:'manage_info' }}">{% trans "Event info" %}</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'manage_submission_settings' event.pk %}" class="nav-link  {{ tab|is_active_tab:'submission_settings' }}">{% trans "Submission settings" %}</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'manage_info_advanced' event.pk %}" class="nav-link  {{ tab|is_active_tab:'advanced' }}">{% trans "Advanced" %}</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'manage_info_export' event.pk %}" class="nav-link  {{ tab|is_active_tab:'export_data' }}">{% trans "Export data" %}</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'manage_peer_review' event.pk 'delete' %}" class="nav-link {{ tab|is_active_tab:'delete' }}">{% trans "Delete" %}</a>
	</li>

</ul>
</nav>

{% block tab %}

{% endblock %}

{% endblock %}
