{% extends "review/default_form.html" %}
{% load i18n %}

{% block inner %}
<div class="card">
		<div class="card-body">
		<h1 class="h3">{{ title }}</h1>		
		<hr class="my-3" />
		<div class="alert alert-info">
		{% trans '<strong>A password reset e-mail has been sent.</strong> If you do not receive an e-mail within 30 minutes, please submit another reset request. Check your spam folder to make sure that you are not blocking e-mails from <strong>no-reply@cadem.io</strong>' %}
		</div>
		</div>
</div>
		
		
{% endblock %}